{% extends 'generic/object.html' %}
{% load buttons %}
{% load helpers %}
{% load static %}
{% load plugins %}
{% load i18n %}
{% load mptt %}

{% block content %}
  <div class="row">
	  <div class="col col-6">
      <div class="card">
        <h2 class="card-header">{% trans "Rack Type" %}</h2>
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">{% trans "Manufacturer" %}</th>
            <td>{{ object.manufacturer|linkify }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Model" %}</th>
            <td>{{ object.model }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Description" %}</th>
            <td>{{ object.description|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Airflow" %}</th>
            <td>{{ object.get_airflow_display|placeholder }}</td>
          </tr>
        </table>
      </div>
      {% include 'dcim/inc/panels/racktype_dimensions.html' %}
      {% include 'inc/panels/tags.html' %}
      {% include 'inc/panels/comments.html' %}
      {% plugin_left_page object %}
	  </div>
    <div class="col col-6">
      {% include 'dcim/inc/panels/racktype_numbering.html' %}
      <div class="card">
        <h2 class="card-header">{% trans "Weight" %}</h2>
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">{% trans "Rack Weight" %}</th>
            <td>
              {% if object.weight %}
                {{ object.weight|floatformat }} {{ object.get_weight_unit_display }}
              {% else %}
                {{ ''|placeholder }}
              {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row">{% trans "Maximum Weight" %}</th>
            <td>
              {% if object.max_weight %}
                {{ object.max_weight }} {{ object.get_weight_unit_display }}
              {% else %}
                {{ ''|placeholder }}
              {% endif %}
            </td>
          </tr>
        </table>
      </div>
      {% include 'inc/panels/custom_fields.html' %}
      {% include 'inc/panels/related_objects.html' %}
      {% plugin_right_page object %}
    </div>
  </div>
  <div class="row">
    <div class="col col-md-12">
      {% plugin_full_width_page object %}
    </div>
  </div>
{% endblock %}
