{% extends 'generic/object.html' %}
{% load static %}
{% load helpers %}
{% load plugins %}
{% load render_table from django_tables2 %}
{% load i18n %}

{% block breadcrumbs %}
  {{ block.super }}
  <li class="breadcrumb-item">
    <a href="{% url 'circuits:circuitgroupassignment_list' %}?group_id={{ object.group_id }}">{{ object.group }}</a>
  </li>
{% endblock %}

{% block content %}
  <div class="row mb-3">
    <div class="col col-md-6">
      <div class="card">
        <h2 class="card-header">{% trans "Circuit Group Assignment" %}</h2>
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">{% trans "Group" %}</th>
            <td>{{ object.group|linkify }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Circuit" %}</th>
            <td>{{ object.circuit|linkify }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Priority" %}</th>
            <td>{{ object.get_priority_display }}</td>
          </tr>
        </table>
      </div>
      {% include 'inc/panels/tags.html' %}
      {% plugin_left_page object %}
    </div>
    <div class="col col-md-6">
      {% include 'inc/panels/custom_fields.html' %}
      {% plugin_right_page object %}
    </div>
  </div>
  <div class="row">
    <div class="col col-md-12">
      {% plugin_full_width_page object %}
    </div>
  </div>
{% endblock %}
